.repositories {
    font-family: "Segoe UI", "-apple-system", BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color 	Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -.02em;
    margin-bottom: 20px;
    padding: 4px 24px;
    h1 {
        font-size: 21px;
        font-weight: 600;
        margin: 12px 0 10px;
    }
    .tabs {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;
        .tab {
            cursor: pointer;
            padding: 0 8px;
            span {
                align-items: center;
                display: flex;
                font-weight: normal;
                height: 46px;
            }
            &.active {
                span {
                    border-bottom: 2px solid rgba(0, 120, 212, 1);
                    border-bottom: 2px solid var(--communication-background, rgba(0, 120, 212, 1));
                    font-weight: 600;
                }
            }
            &.muted {
                opacity: .25;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}