<div class="repositories" *ngIf="gitRepositories$ | async as gitRepositories">
    <h1>Repositories</h1>
    
    <div class="tabs">
        <span class="tab" [class.active]="view === 'all'" (click)="view = 'all'">
            <span>All</span>
        </span>
        <span class="tab" [class.active]="view === 'favorites'" (click)="view = 'favorites'">
            <span>Favorites</span>
        </span>
        <span class="tab" *ngFor="let groupName of groupNames$ | async" [class.active]="view === groupName"
            (click)="view = groupName">
            <span>{{groupName}}</span>
        </span>
    </div>

    <git-repo *ngFor="let gitRepository of gitRepositories" [git-repository]="gitRepository"></git-repo>
</div>