@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "AzureDevOpsMDL2Assets";
    src: url("../assets/AzDevMDL2.woff") format('woff');
}

a {
    color: rgb(var(--palette-primary-shade-10, 0, 90, 158));
}

.ms-Icons {
    font-family: "AzureDevOpsMDL2Assets";
    -webkit-font-smoothing: antialiased;
    margin-right: 10px;
}

.ms-Icon--GitLogo:before {
    content: "\f65d ";
    color: #f05133;
}

.ms-Icon--Branch:before {
    content: "\ebc2 ";
}

.ms-Icon--PullRequest:before {
    content: "\F296 ";
}

.repo {
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin-bottom: 10px;
    background-color: var(--palette-black-alpha-6);
    border-radius: 6px;
    padding: 5px;
    box-shadow: 3px 3px 4px 0px var(--palette-black-alpha-2);
}

.repo .header {
    padding: 5px;
}

.repo .header .title{
    display: inline;
    margin: 0px 5px;
    font-weight: bolder;
    font-size: 1.2em;
}

.container {
    display: flex;
    border-top: solid 1px var(--component-grid-cell-bottom-border-color);
}

.item-branch {
    padding: 4px;
    flex-basis: 40%;

}

.item-pullrequest {
    padding: 4px;
    flex-basis: 60%;
}

.badge {
    border-radius: 4px;
    border: solid 1px #808080;
    padding: 3px 6px;
}