<div class="repo" [class.no-branches]="gitBranches?.length === 0">
    <div class="header">
        <span class="ms-Icons"><span aria-hidden="true" class="ms-Icon--GitLogo"></span></span>
        <a class="title" [href]="gitRepository.webUrl" target="_top">{{gitRepository.name}}</a>
        <!-- <span class="badge">{{gitRepository.defaultBranch.replace('refs/heads/', '')}}</span> -->

        <div>
            <span class="badge clickable" title="click to set the groupname" *ngIf="!editGroup" (click)="editGroup=true">{{(groupName??"").length > 0?groupName:"+"}}</span>
            <input class="badge" *ngIf="editGroup" autofocus [(ngModel)]="groupName" (blur)="saveGroupName()">
        </div>

        <div class="fav">
            <ng-container *ngIf="isFavorite(gitRepository.id); then removeFavorite; else addFavorite"></ng-container>

            <ng-template #addFavorite>
                <button class="bolt-button bolt-icon-button favorite-star clickable" tabindex="-1" type="button"
                    (click)="toggleFavorite(gitRepository.id)">
                    <span class="fabric-icon ms-Icon--FavoriteStar"></span>
                </button>
            </ng-template>
            <ng-template #removeFavorite>
                <button class="bolt-button bolt-icon-button favorite-star active clickable" tabindex="-1" type="button"
                    (click)="toggleFavorite(gitRepository.id)">
                    <span aria-hidden="true"
                        class="left-icon flex-noshrink fabric-icon ms-Icon--FavoriteStarFill medium"></span>
                </button>
            </ng-template>
        </div>
    </div>

    <div class="container" *ngFor="let branch of gitBranches">
        <div class="item-branch">
            <div>
                <span class="ms-Icons"><span aria-hidden="true" class="ms-Icon--Branch"></span></span><a
                    [href]="getUrlForBranch(branch.name)" target="_top">{{branch.name}}</a>
            </div>
            <div>
                <span>{{branch.behindCount}} commits behind, {{branch.aheadCount}} ahead </span>
            </div>
            <div>
                <!-- Avatar? -->
                <!-- <img class="vss-Persona-content using-image" src="https://dev.azure.com/vv-ops/_apis/GraphProfile/MemberAvatars/msa.ZWQ4OTk4NjEtZjc5OS03NzNjLThiZWUtMGU4MmYyZWE0OGE1" alt=""> -->
                <span>Created by {{branch.commit.author.name}} on {{branch.commit.author.date | date: 'MMM d, yyyy
                    (HH:mm)'}}</span>
            </div>


        </div>

        <div *ngIf="getPullRequest(branch.name) let pr else elseBlock" class="item-pullrequest">
            <div>
                <span class="ms-Icons">
                    <span aria-hidden="true" class="ms-Icon--PullRequest"></span>
                </span>
                <a [href]="getUrlForPullRequest(pr.pullRequestId)" target="_top">#{{pr.pullRequestId}} {{pr.title}}</a>

            </div>
            <div>
                <span>{{pr.sourceRefName.replace('refs/heads/', '')}} into {{pr.targetRefName?.replace('refs/heads/',
                    '')}}</span>
                <ng-container *ngIf="getStatus(pr.status) as status">
                    <span class="badge">{{status}}</span>
                </ng-container>
            </div>
            <div>
                <span *ngFor="let reviewer of pr.reviewers">
                    <!-- Avatar? -->
                    <!-- <img class="vss-Persona-content using-image" src="{{reviewer._links.avatar.href ?? 'https://cdn.vsassets.io/v/M194_20211029.7/_content/notassigned-user.svg'}}"> -->
                    <span class="ms-Icons {{reviewer.vote | vote}}"></span><span>{{reviewer.displayName}}</span> &nbsp;
                </span>
            </div>
        </div>

        <ng-template #elseBlock>
            <div class="item-pullrequest">
                <a [href]="getUrlNewPullRequest(branch.name)" class="pr new" target="_top"
                    *ngIf="branch.name != 'dev'">Create a pull request</a>
            </div>
        </ng-template>
    </div>
</div>